<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>erp</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>com.yl.servlet.ClientServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClientEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.ClientEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoClientEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoClientEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoClientAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoClientAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClientDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.ClientDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpSalServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpSalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpRoleServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpJobServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpJobServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpJobDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpJobDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpWorkCaseServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpWorkCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpWorkCheckServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpWorkCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpWorkCaseDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpWorkCaseDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpWorkCheckDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpWorkCheckDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpRegisterServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpSalTypeServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpSalTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpSalTypeAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpSalTypeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpSalTypeEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpSalTypeEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpSalTypeEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpSalTypeEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpSalSendServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpSalSendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpSalSendServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpSalSendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoProAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoProAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoProEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoProEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProModServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProModServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProModAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProModAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoProModAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoProModAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProModEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProModEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProModDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProModDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoProModEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoProModEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProFunServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProFunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProFunAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProFunAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoProFunAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoProFunAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProFunEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProFunEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoProFunEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoProFunEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProFunDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProFunDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.yl.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.TaskEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoTaskEditServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoTaskEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.TaskDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.TaskAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoTaskAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoTaskAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.yl.servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.yl.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessSendServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessSendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoMessSendServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoMessSendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessGetServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessGetServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessGetDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessGetDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessSendsServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessSendsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessSendsDataServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessSendsDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessSendsDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessSendsDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessGetDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.MessGetDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClientDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.ClientDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.TaskDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProModDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProModDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProFunDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProFunDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.ProDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoEmpJobAddServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoEmpJobAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmJobDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpJobDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpSalTypeDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpSalTypeDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.EmpDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.yl.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileDelServlet</servlet-name>
    <servlet-class>com.yl.servlet.FileDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.yl.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoFileUploadServlet</servlet-name>
    <servlet-class>com.yl.servlet.DoFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoFileUploadServlet2</servlet-name>
    <servlet-class>com.yl.servlet.DoFileUploadServlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.yl.servlet.DownloadServlet</servlet-class>
  </servlet>


















  <filter>
  	<filter-name>controller</filter-name>
  	<filter-class>com.yl.filter.Controller</filter-class>
  </filter>

  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>com.yl.filter.Encoding</filter-class>
  </filter>




















































  <filter-mapping>
  	<filter-name>controller</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>	
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientEditServlet</servlet-name>
    <url-pattern>/ClientEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoClientEditServlet</servlet-name>
    <url-pattern>/DoClientEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoClientAddServlet</servlet-name>
    <url-pattern>/DoClientAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientDataServlet</servlet-name>
    <url-pattern>/ClientDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpSalServlet</servlet-name>
    <url-pattern>/EmpSalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpAddServlet</servlet-name>
    <url-pattern>/DoEmpAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpRoleServlet</servlet-name>
    <url-pattern>/EmpRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpJobServlet</servlet-name>
    <url-pattern>/EmpJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpJobDataServlet</servlet-name>
    <url-pattern>/EmpJobDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpWorkCaseServlet</servlet-name>
    <url-pattern>/EmpWorkCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpWorkCheckServlet</servlet-name>
    <url-pattern>/EmpWorkCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpWorkCaseDataServlet</servlet-name>
    <url-pattern>/EmpWorkCaseDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpWorkCheckDataServlet</servlet-name>
    <url-pattern>/EmpWorkCheckDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpEditServlet</servlet-name>
    <url-pattern>/EmpEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpEditServlet</servlet-name>
    <url-pattern>/DoEmpEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpDataServlet</servlet-name>
    <url-pattern>/EmpDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpRegisterServlet</servlet-name>
    <url-pattern>/DoEmpRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpSalTypeServlet</servlet-name>
    <url-pattern>/EmpSalTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpSalTypeAddServlet</servlet-name>
    <url-pattern>/DoEmpSalTypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpSalTypeEditServlet</servlet-name>
    <url-pattern>/EmpSalTypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpSalTypeEditServlet</servlet-name>
    <url-pattern>/DoEmpSalTypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpSalSendServlet</servlet-name>
    <url-pattern>/EmpSalSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpSalSendServlet</servlet-name>
    <url-pattern>/DoEmpSalSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProServlet</servlet-name>
    <url-pattern>/ProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoProAddServlet</servlet-name>
    <url-pattern>/DoProAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoProEditServlet</servlet-name>
    <url-pattern>/DoProEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProEditServlet</servlet-name>
    <url-pattern>/ProEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProDataServlet</servlet-name>
    <url-pattern>/ProDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProModServlet</servlet-name>
    <url-pattern>/ProModServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProModAddServlet</servlet-name>
    <url-pattern>/ProModAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoProModAddServlet</servlet-name>
    <url-pattern>/DoProModAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProModEditServlet</servlet-name>
    <url-pattern>/ProModEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProModDataServlet</servlet-name>
    <url-pattern>/ProModDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoProModEditServlet</servlet-name>
    <url-pattern>/DoProModEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProFunServlet</servlet-name>
    <url-pattern>/ProFunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProFunAddServlet</servlet-name>
    <url-pattern>/ProFunAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoProFunAddServlet</servlet-name>
    <url-pattern>/DoProFunAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProFunEditServlet</servlet-name>
    <url-pattern>/ProFunEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoProFunEditServlet</servlet-name>
    <url-pattern>/DoProFunEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProFunDataServlet</servlet-name>
    <url-pattern>/ProFunDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskEditServlet</servlet-name>
    <url-pattern>/TaskEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoTaskEditServlet</servlet-name>
    <url-pattern>/DoTaskEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskDataServlet</servlet-name>
    <url-pattern>/TaskDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskAddServlet</servlet-name>
    <url-pattern>/TaskAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoTaskAddServlet</servlet-name>
    <url-pattern>/DoTaskAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessServlet</servlet-name>
    <url-pattern>/MessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessDataServlet</servlet-name>
    <url-pattern>/MessDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessSendServlet</servlet-name>
    <url-pattern>/MessSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoMessSendServlet</servlet-name>
    <url-pattern>/DoMessSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessGetServlet</servlet-name>
    <url-pattern>/MessGetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessGetDataServlet</servlet-name>
    <url-pattern>/MessGetDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessSendsServlet</servlet-name>
    <url-pattern>/MessSendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessSendsDataServlet</servlet-name>
    <url-pattern>/MessSendsDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessDelServlet</servlet-name>
    <url-pattern>/MessDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessSendsDelServlet</servlet-name>
    <url-pattern>/MessSendsDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessGetDelServlet</servlet-name>
    <url-pattern>/MessGetDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientDelServlet</servlet-name>
    <url-pattern>/ClientDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskDelServlet</servlet-name>
    <url-pattern>/TaskDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProModDelServlet</servlet-name>
    <url-pattern>/ProModDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProFunDelServlet</servlet-name>
    <url-pattern>/ProFunDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProDelServlet</servlet-name>
    <url-pattern>/ProDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoEmpJobAddServlet</servlet-name>
    <url-pattern>/DoEmpJobAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmJobDelServlet</servlet-name>
    <url-pattern>/EmpJobDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpSalTypeDelServlet</servlet-name>
    <url-pattern>/EmpSalTypeDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpDelServlet</servlet-name>
    <url-pattern>/EmpDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDelServlet</servlet-name>
    <url-pattern>/FileDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFileUploadServlet</servlet-name>
    <url-pattern>/DoFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFileUploadServlet2</servlet-name>
    <url-pattern>/DoFileUploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>